<nav>
    <ul>
        <li><a asp-page="/Index">대시보드</a></li>
        <li><a asp-page="/Exchange">대거래소</a></li>
        <li><a asp-page="/Mining">채굴</a></li>
        <li><a asp-page="/Craftshop">공방</a></li>
        <li><a asp-page="/Shop">상점</a></li>
    </ul>
</nav>
