@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<nav class="nav-menu">
    <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink href="/exchange">Exchange</NavLink>
    <NavLink href="/mining">Mining</NavLink>
    <NavLink href="/crafting">Crafting</NavLink>
    <NavLink href="/personalshop">Personal Shop</NavLink>
    <NavLink href="/inventory">Inventory</NavLink>
    <NavLink href="/mercenary">Mercenary</NavLink>
    <NavLink href="/tavern">Tavern</NavLink>
    <NavLink href="/generalshop">General Shop</NavLink>
    <NavLink href="/login">Login</NavLink>
</nav>
