@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <h1>Shop Owner Simulator</h1>
        <Components.Layout.Navigation />
    </header>
    <main>
        @Body
    </main>
    <footer>
        <small>&copy; Shop Owner Simulator</small>
    </footer>
</div>
