@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<nav class="top-nav">
    <a href="/">Dashboard</a>
    <a href="/exchange">Exchange</a>
    <a href="/mining">Mining</a>
</nav>
